language = "python"
entrypoint = "main.py"
run = "exec uvicorn main:app --host 0.0.0.0 --port 8000 --keep-alive 30 --timeout-keep-alive 60"
modules = ["nodejs-20", "python-3.11", "postgresql-16"]


[nix]
packages = ["cairo", "chromedriver", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "lcms2", "libcxx", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "qhull", "tcl", "tk", "zlib"]

#[[ports]]
#localPort = 5173
#externalPort = 80

[[ports]]
localPort = 8000
externalPort = 80

[deployment]
build = ["sh", "-c", "cd frontend/FE && npm install && npm run build"]
run = ["sh", "-c", "bash run_all.sh"]
deploymentTarget = "cloudrun"
